* {
    margin: 0;
    padding: 0;
    display: block;
    text-align: center;
    box-sizing: content-box;
}

.img_1 {

    -webkit-font-smoothing: antialiased;

    width: 100%;
    -webkit-background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;
    vertical-align: middle;
    position: relative;
    opacity: 1;
    transition: opacity 700ms;
    height: 100vh;
    background-attachment: scroll;
    background-image: url("photo/166.jpg");
    top: 16px;
    z-index: 5;
}

.conteiner2 {

    padding-top: 210px;
    padding-bottom: 210px;
}

.img_3 {
    -webkit-background-size: cover;
    -webkit-font-smoothing: antialiased;

    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;
    vertical-align: middle;
    position: relative;
    background-attachment: fixed;
    height: 70vh;
    background-image: url("photo/photo-1449938555582-e05593b5af93.jpg");
    z-index: 5;
}

.conteiner4 {
    -webkit-font-smoothing: antialiased;

    transition: opacity 0.5s;
    opacity: 1;
    padding-top: 120px;
    padding-bottom: 210px;
}

.img_5 {
    -webkit-font-smoothing: antialiased;

    width: 100%;
    -webkit-background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;
    vertical-align: middle;
    position: relative;
    background-attachment: fixed;
    background-color: #000;
    overflow: hidden;
    background-image: url("photo/vzgliad-portret-sobaka-rodeziiskii-ridzhbek-osen-listia.jpg");
    z-index: 5;
    height: 70vh;
}

.conteiner6 {
    -webkit-font-smoothing: antialiased;

    transition: opacity 0.5s;
    opacity: 1;
    padding-top: 90px;
    padding-bottom: 15px;
}



.img_8 {
    -webkit-font-smoothing: antialiased;

    width: 100%;
    -webkit-background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;
    vertical-align: middle;
    position: relative;
    background-attachment: fixed;
    background-color: #000;
    overflow: hidden;
    background-image: url("photo/viber_2021-06-02_16-15-06.jpg");
    z-index: 5;
    height: 70vh;
}

.conteiner {
    -webkit-font-smoothing: antialiased;

    transition: opacity 0.5s;
    opacity: 1;
    padding-top: 10%;
    padding-bottom: 10%;
}



.img_11 {
    -webkit-font-smoothing: antialiased;

    width: 100%;
    -webkit-background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;
    vertical-align: middle;
    position: relative;
    background-attachment: fixed;
    background-color: #000;
    overflow: hidden;
    background-image: url("photo/IMG_20190621_210912-1.jpg");
    z-index: 5;
    height: 70vh;
}








.h_box {
    padding-top: 20%;
}

.h_title {
    -webkit-font-smoothing: antialiased;
    text-align: center;


    font-family: 'TildaSans', Arial, sans-serif;
    font-weight: 600;
    font-size: 55px;
    line-height: 1.17;
    padding: 24px 0 38px 0;
    letter-spacing: .5px;
    color: #ffffff;

}

.h_text {

    text-align: center;
    font-family: 'TildaSans', Arial, sans-serif;
    font-size: 24px;
    line-height: 1.5;
    box-sizing: content-box;
    font-weight: 700;
    color: rgb(255, 255, 255);

}

.conteiner>:first-child {

    font-family: "Gill Sans", sans-serif;
    ;

    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1200px;

    text-align: center;

}

h2 {
    text-transform: uppercase;
    text-align: center;


    font-size: 25px;
    line-height: 1.35;

    font-weight: 600;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    color: #ffb62e;
    text-transform: uppercase;
}

p {
    line-height: 50px;
    max-width: 70%;
    text-align: left;
    line-height: 32px;
    font-weight: lighter;
    font-size: 23px;
    letter-spacing: 1px;
    color: #000000;

    margin-left: auto;
    margin-right: auto;
    font-size: 25px;
}

.strong {
    font-weight: 600;
    display: inline;
}

.img_12{
    -webkit-font-smoothing: antialiased;
    width: 100%;
    -webkit-background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;
    vertical-align: middle;
    position: relative;
    background-attachment: fixed;
    opacity: 1;
    transition: opacity 700ms;
    height: 70vh;
    background-image: url("photo/puppy-dog-eyes.jpg");
    z-index: 5;
}
.black{
    background-color: #000;
    padding: 35px 0 45px;
    height: auto;
    display: block ;
    position: relative;
    width: 100% ;

}
.link_title{
    color: white;
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
    font-family: "Gill Sans", sans-serif;
}
a{
    margin-top: 50px;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    margin-right: 2%;
}
.button{
    border: 2px white solid;
    display: inline;
    font-size: 15px;
    font-weight: bolder;
    line-height: 10px;
    font-family:'TildaSans', Arial, sans-serif;
    text-transform: uppercase;
    padding: 20px 50px 20px 50px;
    border-radius: 20px;
    transition: 0.5s;
}
.button:hover{
    background-color: #636261;
    
}
.link{
    display: flex;
    justify-content: center;
}
.link>:last-child{
    margin-right:0;
}

title{
    display: none;
}